.container {
  // max-width: 1580px;
  // margin: 0 auto;
  // position: relative;
  // border: 1px solid rgba(255, 0, 0, 0.185);
}

.main-menu {
  // width: 100%;
  // margin: 15px 0 15px 0;
}

.content-area {
  display: grid;
  max-height: 120vh;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: auto;
  // overflow: auto;
}

.sidebar-area {
  // background-color: rgb(0, 0, 0);
  grid-area: 1 / 1 / 1 / 5;
  display: flex;
  justify-content: center;

}

.main-content-area {
  // background-color: rgba(255, 0, 0, 0.439);
  // background-color: rgb(255, 0, 0);
  grid-area: 1 / 5 / 1 / 17;
}

.test-container {
  // border: 2px solid red;
  max-width: 190px;
  // height: 650px;
  // background-color: rgba(70, 70, 70, 0.664);
}
.test-container-2 {
  height: 1px;
  background-color: initial;
}

.sidebar-two-area {
  grid-area: 1 / 15 / 1 / 17;
  display: flex;
  justify-content: center;
}